body {
  background-color: #212121;
  min-height: 100vh;
  display: grid;
  place-content: center;
  color: white;
}

.holder {
  display: flex;
  justify-content: space-around;
}

.btn {
  max-width: 200px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.3em;
  background-color: black;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  border: 0.1em solid transparent;
}
